define(__IOCAGE_RELEASE__,11.3-RELEASE)dnl # update 11.3-Release to match compatibility with your FreeNAS version.
dnl
define(__POOL__,myVol)dnl # edit 'myVol' to your pool for iocage (jail) data.
define(__APPS_DATASET__,apps)dnl # edit 'apps' to your dataset name for holding configuration data
define(__MEDIA_DATASET__,media)dnl # edit 'media' to your dataset name for holding all your media files
define(__MOUNT_LOCATION__,mnt)dnl # edit 'mnt' if you want to change the default mount location inside each jail.
dnl
define(__DEFAULT_ROUTER__,10.68.69.1)dnl # change to your router IP address
define(__DEFAULT_CIDR__,24)dnl # edit if you use a different subnet mask than /24
dnl
define(__BAZARR_JAIL__,bazarr)dnl
define(__BAZARR_IP__,10.68.69.20)dnl # desired IP for Tautulli
dnl
define(__JACKETT_JAIL__,jackett)dnl
define(__JACKETT_IP__,10.68.69.21)dnl # desired IP for Jackett
define(__JACKETT_VERSION__,v0.12.1384)dnl # change to latest version of Jackett
dnl
define(__LIDARR_JAIL__,lidarr)dnl
define(__LIDARR_IP__,10.68.69.22)dnl # desired IP for Lidarr
define(__LIDARR_VERSION__,v0.7.1.1381)dnl # edit to latest version of Lidarr
dnl
define(__ORGANIZR_JAIL__,organizr)dnl
define(__ORGANIZR_IP__,10.68.69.23)dnl # desired IP for Organizr
dnl
define(__PLEX_JAIL__,plex)dnl
define(__PLEX_IP__,10.68.69.24)dnl # desired IP for Plex
dnl
define(__RADARR_JAIL__,radarr)dnl
define(__RADARR_IP__,10.68.69.25)dnl # desired IP for Radarr
define(__RADARR_VERSION__,v0.2.0.1450)dnl # change to latest version of Radarr
dnl
define(__SABNZBD_JAIL__,sabnzbd)dnl
define(__SABNZBD_IP__,10.68.69.26)dnl # desired IP for Sabnzbd
dnl
define(__SONARR_JAIL__,sonarr)dnl
define(__SONARR_IP__,10.68.69.27)dnl # desired IP for Sonarr
dnl
define(__TAUTULLI_JAIL__,tautulli)
define(__TAUTULLI_IP__,10.68.69.28)dnl # desired IP for Tautulli
dnl
define(__DELUGE_JAIL__,deluge)dnl
dnl
define(__TRANSMISSION_JAIL__,transmission)dnl
define(__TORRENT_IP__,10.68.69.29)dnl # static LAN IP for Transmission
define(__TORRENT_SVRIP__,10.10.10.10)dnl # IP of VPN server to connect to
dnl
dnl##
dnl### Below typically do not need editing.
dnl##
define(__DEFAULT_INTERFACE__,vnet0)dnl
dnl
define(__SONARR_DOWNLOADS__,sonarr)dnl # edit if a different category name is desired for Sonarr
define(__SONARR_COMPLETED__,series)dnl # edit if a different storage folder is desired for Sonarr
define(__RADARR_DOWNLOADS__,radarr)dnl # edit if a different category name is desired for Radarr
define(__RADARR_COMPLETED__,movies)dnl # edit if a different storage folder is desired for Radarr
define(__LIDARR_DOWNLOADS__,lidarr)dnl # edit if a different category name is desired for Lidarr
define(__LIDARR_COMPLETED__,music)dnl # edit if a different storage folder is desired for Lidarr
define(__SABNZBD_FILES__,sabnzbd)dnl # edit if a differnet download folder is desired for Usenet files
dnl##
dnl### Below NEVER need editing.
dnl##
define(__POOL_ROOT__,/mnt/__POOL__)dnl
define(__APPS_ROOT__,__POOL_ROOT__/__APPS_DATASET__)dnl
define(__IOCAGE_DATASET__,iocage)dnl
define(__IOCAGE_ROOT__,__POOL_ROOT__/__IOCAGE_DATASET__)dnl
define(__MEDIA_ROOT__,__POOL_ROOT__/__MEDIA_DATASET__)dnl
dnl
